@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    background: linear-gradient(to right, #bdd7ba, #ADD8E6);
}

hr{
    border: 1px solid #bdd7ba;
    font-weight: bold;
}

.container{
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    border-radius: 1rem;
    padding: 30px;
}

.container .dates-info{
    font-size: 18px;
    color: #15616D;
    margin-top: 30px;
}

.container .title{
    font-size: 15px;
    font-weight: 300;
    padding: 5px;
}

.container form .studentDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
}

form .studentDetails .input-box{
    width: calc(100% / 2 - 20px);
    margin-bottom: 10px;
}

.studentDetails .input-box .details{
    display: block;
    margin-bottom: 5px;
}

.studentDetails .input-box input{
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 1rem;
    border-bottom-width: 2px;
}

.studentDetails .input-box input:focus,
.studentDetails .input-box input:valid{
    border-color: #ADD8E6;
}

.box{
    margin-bottom: 3px;
}

form .dobGenderInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .dobDetails input{
    height: 40px;
    width: 55%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 1rem;
    border-bottom-width: 2px;
}

form .genderDetails{
    display: flex;
    flex-wrap: wrap;
}

form .genderDetails input{
    margin-left: 5px;
}
  
form .genderDetails label{
    margin-right: 5px;
}  

input[type="radio"] {
    appearance: none; 
    width: 15px; 
    height: 15px; 
    border: 2px solid #ADD8E6; 
    border-radius: 50%; 
    outline: none; 
    cursor: pointer;
}
  
input[type="radio"]:checked {
    background-color: #bdd7ba;
}

form .classSportInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

select option {
    background-color: #bdd7ba;
}

form .dropdown select{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 1rem;
    border-bottom-width: 2px;
}

form .button{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 50px;
    margin: 30px 0;
}

form .button input{
    height: 100%;
    width: 45%;
    outline: none;
    color: #15616D;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background: linear-gradient(to right, #bdd7ba, #ADD8E6);
}

form .button input:hover{
    background: linear-gradient(to left, #bdd7ba, #ADD8E6);
}

@media (max-width:584px) {
    body{
        font-size: 14px;
    }
    .container{
        max-width: 100%;
        margin: 5px 0;
        border-radius: 0;
    }
    .container .dates-info{
        font-size: 14px;
        margin-top: 10px;
    }
    .container .title{
        font-size: 12px;
        font-weight: 200;
        padding: 0px;
    }
    form .studentDetails .input-box{
        width: 100%;
        margin-bottom: 0;
    }
    .studentDetails .input-box input{
        height: 25px;
        font-size: 14px;
    }
    form .genderDetails input{
        margin-left: 5px;
    }  
    form .dobDetails input{
        height: 25px;
        width: 80%;
        padding-left: 2px;
        font-size: 14px;
    }
    form .dropdown select{
        height: 25px;
        font-size: 14px;
    }
    form .button{
        height: 25px;
        margin: 10px 0;
    }
    form .button input{
        font-size: 15px;
    }
}